
.graph{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: #eef5fc;
    border-radius: "10px";
    border: none !important;
  }
  
  .piechart{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: #eef5fc;
    border-radius: "10px";
    border: none !important;
  }