$font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-size: 18px;
$font-weight: 500;
$color: #787a7b;

.label{
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    padding: 7px; 
}

.form-label{
   display: flex;
   justify-content: start; 
}