.navbar {
  width: 100%;
  box-shadow: none;
  opacity: 1;
  background-color: #22292a;
  height: 50px;
}

.navbar-brand {
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
  color: #fff !important;
}

.nav-link {
  font-weight: 500;
  color: #fff !important;
}
