.well-container {
  margin-top: 75px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  // background: -webkit-linear-gradient(#ccc, #00b140);
  color: #006600;
  background-image: linear-gradient(
    45deg,
    #006600 40%,
    #008000 43%,
    #339933 15%,
    #66cc66 86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.vh-90 {
  height: 90vh;
}

.required {
  &::after {
    content: "*";
    margin-left: 5px;
    color: red;
  }
}
